/* BIG IMAGE MODULE */
#big-image img {
  width: 100%;
  height: auto;
}
#big-image .container {
  line-height: 0;
}

/* SHORT DESCRIPTION MODULE */
#short-description h1 {
  font-size:25px;
  margin-bottom: 20px;
  text-transform: uppercase;
  
}

/* QUICK LINKS MODULES */
.quick-links-section {
  margin-top:0px;
}
.quick-links-box {
  margin-bottom: 20px;
}
.quick-links-box a {
  display: block;
}
.quick-links-box a {
  color: #545454;
  text-decoration: none;
}
.quick-links-box a:hover {
  color: #fff;
  text-decoration: none;
}
.quick-link {
  text-align: center;
  background: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #000;
  text-transform: uppercase;
}
.quick-link span {
  display: block;
}
.quick-link:hover {
  background: #1954a0;
}
.quick-link span {
  font-size: 16px;
  font-weight: 700 !important;
  margin-top: 10px;
}

/* SERVICES MODULES */
.s-icon {
  min-width: 15%;
  display: inline-block;
  vertical-align: middle;
}
.s-title {
  width: 80%;
  display: inline-block;
  vertical-align: middle;
}
.s-title h3 {
  font-size: 16px;
  text-transform: uppercase;
}
.services-box {
  margin-bottom: 20px;
}

/* CAROUSEL SLIDER MODULES */
.machines-slider .carousel-indicators {
  left: 0;
  top: auto;
  bottom: -20px;
}
.machines-slider .carousel-indicators li {
  background: #1954a0;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
.machines-slider .carousel-indicators .active {
  background: #ffd781;
}
.machines-img-desc-wrapper {
  margin-bottom: 20px;
}
.machines-image {
  position: relative;
  width: 100%;
  height: 100%;
}
.machines-image img {
  width: 100%;
  height: auto;
}
.tech-spec-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  padding-left: 10px;
  padding-top: 10px;
}
.machines-image:hover .tech-spec-btn {
  display: block;
}
.tech-spec-btn a,
.tech-spec-btn a:hover {
  color: #fff;
  text-decoration: none;
}
.machines-desc {
  margin-top: 10px;
}

.machines-desc h2 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
}

/* CONTACTS MODULES */
.contact-info-col {
  float:right;
  text-align: right;
  margin-top:20px;
}
.contact-info-col strong {
  font-weight: bold;
}
.contact-info-col ul {
  list-style-type: none;
}
.contact-info-col h3 {
  margin-bottom: 10px;
}
.contact-info-col p {
  margin-bottom: 0px;
}
.contact-info-col h3 {
  font-size:16px;
  font-weight:600;
  text-transform: uppercase;
}
.validation-error {
  background: #fcc;
  border: 1px solid #f99;
  color: #d01313;
  padding: 10px;
  margin-top:10px;
}
#loader-icon {
  margin-top:10px;
}
.validation-error p,
.mail-sent-ok p {
  margin-bottom: 0;
}
.mail-sent-ok {
  background: #eafac0;
  border: 1px solid #b1cf67;
  color: #7ba411;
  position: relative;
  padding: 10px;
  margin-top: 10px;
}
