/* BIG IMAGE MODULE */
#big-image {
  position: relative;
  width: 100%;
  height: auto;
}
#big-image img {
  width: 100%;
  height: auto;
}
.big-image-hover {
  position: absolute;
  width: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 20px;
  text-align: center;
}
.big-image-hover h1 {
  font-size: 25px;
  font-weight: normal !important;
  text-transform: uppercase;
  font-style: italic;
}

/* QUICK LINKS MODULES */
.quick-links-box {
  margin-bottom: 20px;
}
.quick-links-box a {
  display: block;
}
.quick-links-box a {
  color: #545454;
  text-decoration: none;
}
.quick-links-box a:hover {
  color: #fff;
  text-decoration: none;
}
.quick-link {
  text-align: center;
  background: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #000;
  text-transform: uppercase;
}
.quick-link span {
  display: block;
}
.quick-link:hover {
  background: #d3c473;
}
.quick-link span {
  font-size: 16px;
  font-weight: 700 !important;
  margin-top: 10px;
}

/* SERVICES MODULES */
.s-icon {
  min-width: 15%;
  display: inline-block;
  vertical-align: middle;
}
.s-title {
  width: 80%;
  display: inline-block;
  vertical-align: middle;
}
.s-title h3 {
  font-size: 16px;
  text-transform: uppercase;
}
.services-box {
  margin-bottom: 20px;
}

/* CAROUSEL SLIDER MODULES */
.machines-slider .carousel-indicators {
  left: 0;
  top: auto;
  bottom: -20px;
}
.machines-slider .carousel-indicators li {
  background: #a3a3a3;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
.machines-slider .carousel-indicators .active {
  background: #707070;
}
.machines-img-desc-wrapper {
  margin-bottom: 20px;
}
.machines-image {
  position: relative;
  width: 100%;
  height: 100%;
}
.machines-image img {
  width: 100%;
  height: auto;
}
.tech-spec-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  padding-left: 10px;
  padding-top: 10px;
}
.machines-image:hover .tech-spec-btn {
  display: block;
}
.tech-spec-btn a,
.tech-spec-btn a:hover {
  color: #fff;
  text-decoration: none;
}
.machines-desc {
  margin-top: 10px;
}

.machines-desc h2 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
}

/* CONTACTS MODULES */
#map-bg-wrapper {
  width: 100%;
  background: url(../img/contact-us.jpg) no-repeat center center;
  background-size: cover;
}
.contact-form-wrapper {
  width: 70%;
  background: #fff;
  padding: 10px;
}
.contact-form-wrapper form {
  margin-bottom: 20px;
}
.contact-form-wrapper h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}
.under-form-wrapper {
  background: #202e31;
  width: 70%;
  color: #fff;
  padding: 10px;
}
.sm-contacts-outer {
  display: inline-block;
  vertical-align: top;
  padding-right: 45px;
}
.sm-contacts-icon {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  font-size: 26px;
}
.sm-contacts-info {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0px;
  font-size: 14px;
  text-transform: uppercase;
}
.sm-contacts-info a,
.sm-contacts-info a:hover {
  text-decoration: none;
  color: #fff;
}
.sm-text {
  font-size: 12px;
}
.strong-text {
  font-weight: 700;
}
.validation-error {
  background: #fcc;
  border: 1px solid #f99;
  color: #d01313;
  padding: 10px;
}
.validation-error p,
.mail-sent-ok p {
  margin-bottom: 0;
}
.mail-sent-ok {
  background: #eafac0;
  border: 1px solid #b1cf67;
  color: #7ba411;
  position: relative;
  padding: 10px;
  margin-top: 20px;
}
